<h1><%= @list.name %></h1>
<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% @list.bookmarks.each do |bookmark| %>
  <div class="card-movie">
    <%= image_tag bookmark.movie.poster_url, alt: "Le Wagon", width: 200 %>
    <div class="card-movie-info">
      <div class="card-movie-header">
        <h2><%= bookmark.movie.title %></h2>
        <h2 class="card-movie-rating"> • <%= bookmark.movie.rating %> <i class="fas fa-star"></i></h2>
      </div>
      <p><%= bookmark.movie.overview %></p>
      <h2><i class="fas fa-quote-left"></i>   <%= bookmark.comment %></h2>
      <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
<% end %>
<hr>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add a bookmark
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <div class="modal-body">
          <h3>New bookmark</h3>
          <%= f.association :movie, as: :select %>
          <%= f.input :comment %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<%= link_to "Go back to the list", root_path %>
