<h1><%= @list.name %></h1>
<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% @list.bookmarks.each do |bookmark| %>
  <div class="card-movie">
    <%= image_tag bookmark.movie.poster_url, alt: "Le Wagon", width: 200 %>
    <div class="card-movie-info">
      <div class="card-movie-header">
        <h2><%= bookmark.movie.title %></h2>
        <h2 class="card-movie-rating"> • <%= bookmark.movie.rating %> <i class="fas fa-star"></i></h2>
      </div>
      <p><%= bookmark.movie.overview %></p>
      <h2><i class="fas fa-quote-left"></i>   <%= bookmark.comment %></h2>
      <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
<% end %>
<hr>
<%= link_to "Add a new bookmark" %> <br>
<h3>New bookmark</h3>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, as: :select %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
<hr>
<%= link_to "Go back to the list", root_path %>
