<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <strong>
        <%= bookmark.movie.title %>
      </strong>
      <br>
      <%= bookmark.comment %>
      <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to "Add a new bookmark" %> <br>
<h3>New bookmark</h3>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, as: :select %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
<hr>
<%= link_to "Go back to the list", lists_path %>
